div.fdm-container {
  padding: 20px;
  height: 100%;
  min-height: 100%;
}

body, html {
  height: 100%;
}

div.team > div.label {
  color: black;
  font-size: 100%;
}

div.jQBracket div.team.lose:not(.highlight):not(.highlightLoser) {
  color: #999;
  background-color: #EEE;
}

div.jQBracket div.team.win:not(.highlight):not(.highlightWinner):not(.highlightLoser) {
  color: #999;
  background-color: #FFF;
}

button.icon {
  padding: 0;
  border: none;
  background: none;
}

button.top-right {
  position: absolute;
  right: 5px;
  top: 5px;
}

fieldset > label {
  display: block;
}

fieldset > label > span {
  float: left;
  text-align: right;
  width: 200px;
  padding-right: 10px;
  clear: left;
}

div.lm_content {
  overflow: auto;
}

div.bracketTable {
  float: left;
  width: 20px;
  height: 52px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  line-height: 52px;
}

div.jQBracket .bracketTable input {
  font-size: 12px;
  padding: 0;
  width: inherit;
  border: none;
  margin: 0;
}

input[type="number"] {
  width: 100px;
}

input[type="number"].digit {
  width: 40px;
}

tr.game.dyn-conflict {
  color: #9b9b9b;
}

tr.game.conflict {
  color: #ff9696;
}

input.form-control {
  padding: 5px;
}

/*# sourceMappingURL=fdm-style.css.map */
