/*noinspection CssUnusedSymbol*/
.main-menu:hover,
nav.main-menu.expanded {
  width: 200px;
  overflow: visible;
}

nav.sidebar-fixed {
  width: 200px;
  overflow: visible;
}

div.content-fixed {
  margin-left: 200px;
}

div.content-fixed div.ui-page {
  margin-left: 200px;
}

/*noinspection CssUnusedSymbol*/
.sidebar-hovering {
  background: #fbfbfb;
  border-right: 1px solid #e5e5e5;
}

.main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 5px;
  padding-top: 20px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > * {
  margin-left: 20px;
}

.main-menu > ul {
  margin-top: 7px;
}

.main-menu li {
  position: relative;
  display: block;
  width: 200px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999999;
  font-family: arial, serif;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*noinspection CssUnknownProperty*/
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover > a,
nav.main-menu li.active > a,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #ffffff;
  background-color: #5fa2db;
}
