<?php
$this->headScript()->appendFile(
  $this->basePath('/js/editablegrid/editablegrid.js')
);
$this->headScript()->appendFile(
  $this->basePath('/js/editablegrid/editablegrid_utils.js')
);
$this->headScript()->appendFile(
  $this->basePath('/js/editablegrid/editablegrid_renderers.js')
);
$this->headScript()->appendFile(
  $this->basePath('/js/editablegrid/editablegrid_editors.js')
);
$this->headScript()->appendFile(
  $this->basePath('/js/editablegrid/editablegrid_validators.js')
);
$this->headScript()->appendFile(
  $this->basePath('/js/editablegrid/editablegrid_charts.js')
);
$this->headScript()->appendFile(
  $this->basePath('/js/attendanceGrid.js')
);
$this->headScript()->appendFile(
  $this->basePath('/js/editablegrid/extensions/autocomplete/autocomplete.js')
);
$this->headScript()->appendFile(
  $this->basePath('/js/jquery-ui-1.11.4.min.js')
);
if ($this->deviceHelper() !== 'phone') {
  $this->headLink()->appendStylesheet(
    $this->basePath('/js/jquery-ui-1.11.4.min.css')
  );
}
$this->headLink()->appendStylesheet(
  $this->basepath('/css/editablegrid/editablegrid.css')
);
$this->headLink()->appendStylesheet(
  $this->basepath(
    '/css/editablegrid/extensions/autocomplete/autocomplete.css'
  )
);
?>
<style>
  #tablecontent {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
  }

  #tablecontent h1 {
    font-size: 15px;
  }

  #tablecontent a {
    color: #548dc4;
    text-decoration: none;
  }

  #tablecontent a:hover {
    text-decoration: underline;
  }

  /*noinspection CssUnusedSymbol*/
  #tablecontent table.testgrid {
    border-collapse: collapse;
    border: 1px solid #ccccbb;
  }

  #tablecontent table.testgrid td, table.testgrid th {
    padding: 5px;
    border: 1px solid #e0e0e0;
  }

  #tablecontent table.testgrid th {
    background: #e5e5e5;
    text-align: left;
  }

  #tablecontent input.invalid {
    background: #ff0000;
    color: #fdfdfd;
  }
</style>
<?php echo $this->dialogHelper("dialog-confirm", "Are you sure that you want to delete this attendant?"); ?>
<script>
  //noinspection JSUnusedLocalSymbols
  var deleteText = <?php echo json_encode($this->translate('delete'))?>;
  //noinspection JSUnusedLocalSymbols
  var deleteConfirm = <?php
    echo json_encode(
      $this->translate('Really delete attendant %s?')
    );
    ?>;
  //noinspection JSUnusedLocalSymbols
  var deleteButton = <?php echo json_encode($this->translate('Delete'))?>;
  //noinspection JSUnusedLocalSymbols
  var cancelButton = <?php echo json_encode($this->translate('Cancel'))?>;
  //noinspection JSUnusedLocalSymbols
  var tournamentId = <?php echo json_encode($this->tournamentId)?>;
  //noinspection JSUnusedLocalSymbols
  var upToDateUrl = <?php echo json_encode(
    $this->url(
      'tournament/uptodate',
      [
        'id' => $this->tournamentId,
        'lastrefreshed' => (new DateTime())->getTimestamp(),
      ]
    )
  )?>;
  //noinspection JSUnusedLocalSymbols
  var baseUrl = <?php echo json_encode(
    $this->url(
      'tournament/attendants',
      ['id' => $this->tournamentId]
    )
  )?>;
  var editableGrid;
  //noinspection JSUnusedLocalSymbols
  var editable = <?php echo $this->editable ? "true" : "false"; ?>;
  //noinspection JSUnusedLocalSymbols
  var phone = <?php
    if ($this->deviceHelper() === 'phone')
      echo "true";
    else
      echo "false";
    ?>;
  //noinspection JSUnusedLocalSymbols
  var alreadyStarted = <?php if ($started) echo "true"; else echo "false"; ?>;
  $(document).ready(function() {
    editableGrid = new DatabaseGrid();
  });
</script>

<div id='tablecontent'></div>
<?php if ($started && $editable): ?>
  <a href="<?php echo $this->url('tournament/attendants/edit/updatePlayers', ['id' => $this->tournamentId]); ?>">
    Update Players
  </a>
<?php endif ?>
