<?php
$title = $this->translate("Delete Tournament");
$this->headTitle($title);
?>
  <h1><?php echo $this->escapeHtml($title); ?></h1>
  <h4><?php
    echo sprintf(
      $this->translate(
        "Please enter your password below to remove the tournament %s (%s)"
      ),
      $this->tournament->getName(),
      $this->tournament->getStart()->format('d.m.Y H:i')
    );
    ?>
  </h4>
<?php
//$form->setAttribute('action', $this->url(NULL));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag($form);
