<?= $this->headScript()->prependFile($this->basePath('js/jquery-1.12.4.min.js')) ?>
<?= $this->headScript()->prependFile($this->basePath('js/speak.js')) ?>

<script>
  tournamentId = '<?= $tournament->getId() ?>';
  lastTask = 0;
  announcement = '<?= ($this->basePath('/sounds/announcement.wav')) ?>';

  function getUrl() {
    return '<?= $this->url('tournament/speaker', ['id' => $tournament->getId()])?>/getNewTasks/' + lastTask;
  }
</script>

<h1 id="title">Speaker for the tournament <?= $tournament->getName() ?></h1>
<div id="content">
  <div id="dontclose" style="color:red;font-weight: bold;">Don't close this window!</div>


  <div><label>Speak Rate</label><input id="rateSlider" type="range" value="-0.15" min="-1" max="1" step="0.01"
                                       oninput="updateRate()"/> <span id="rateVal">90%</span></div>
  <div><label>Speak Volume</label><input id="volumeSlider" type="range" value="1" min="0" max="1" step="0.01"
                                         oninput="updateVol()"/> <span id="volumeVal">100%</span></div>
</div>