<?php

$this->headScript()->appendFile(
  $this->basePath('/js/hideColumns.js')
);


$title = $this->translate("Hide/Unhide Columns");
$this->headTitle($title);
?>
<script>
  function goToRanking() {
    columns = <?= json_encode($columns) ?>;
    hiddenColumns = convertToId(columns, '<?= $rId ?>');;;;;;;;;;;;;
    window.location.href = '<?= $this->url('ranking/view', array('rId' => $rId,
      'hiddenColumns' => "'+hiddenColumns")) ?>;
  }

  function saveHColumns() {
    saveHideColumns('<?= $rId ?>');
  }
</script>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag($form);
?>
<script>
  loadLocalSettings('<?= $rId ?>');
</script>