<table>
  <tr>
    <th><?php echo $this->translate('Rank') ?></th>
    <th><?php echo $this->translate('Team') ?></th>
    <?php foreach ($this->columns as $tit => $column): ?>
      <th><?php echo $this->translate($tit); ?></th>
    <?php endforeach; ?>
  </tr>
  <?php foreach ($this->rankings as $ranking): ?>
    <tr>
      <td><?php echo $ranking->getDisplayRank(); ?></td>
      <td><?php echo $this->names_helper($ranking); ?></td>
      <?php foreach ($this->columns as $column): ?>
        <td><?php echo $ranking->$column(); ?></td>
      <?php endforeach; ?>
    </tr>
  <?php endforeach; ?>
</table>
