<script>
  var structure = null,
    phaseId = null;
  //noinspection JSUnusedLocalSymbols
  structure = <?php echo json_encode($this->structure);?>;
  phaseId = <?php echo json_encode($this->phaseId);?>;
  //noinspection JSUnusedLocalSymbols
  var localStoragePre = phaseId + "_mobile_";
  var saveLocation = 'savedState_mobile_' + phaseId;
  //noinspection JSUnusedLocalSymbols
  function store(id) {
    localStorage.setItem(saveLocation, id);
  }

</script>

<div role="main" class="ui-content">
  <?php
  function staticPrint($structure, $base, $view)
  {
    echo '<div class="tabs" data-role="tabs">';
    echo '<div data-role="navbar">';
    echo '<ul>';
    foreach ($structure as $key => $struct) {
      $id = $base . "-" . $key;
      echo '<li><a id ="but-' . $id . '" onClick="store(\'' . $id . '\')"href="#' . $id . '">' .
        $view->translate($struct["title"]) . '</a></li>';
    }
    echo '</ul></div>';
    foreach ($structure as $key => $struct) {
      $id = $base . "-" . $key;
      echo '<div class="lm_content" id="' . $id . '">';
      if (array_key_exists("children", $struct)) {
        staticPrint($struct["children"], $id, $view);
      } else {
        $globalKey = $struct["globalKey"];
        echo $view->$globalKey;
      }
      echo '</div>';
    }
    echo '</div>';
  }

  staticPrint($this->structure, "tabs-content", $this);
  ?>
</div>

<script>
  jQuery(document).ready(function() {
    var sub, i,
      loadedId = localStorage.getItem(saveLocation);
    console.log(loadedId);
    i = loadedId.indexOf("-", "tabs-content-".length);
    while (i !== -1) {
      sub = loadedId.substring(0, i);
      console.log(sub);
      $("#but-" + sub).trigger('click');
      i = loadedId.indexOf("-", i + 1);
    }
    $("#but-" + loadedId).trigger('click');
  })
</script>