<?php
$this->headScript()->
appendFile($this->basePath('/js/goldenlayout/goldenlayout.min.js'));
$this->headScript()->
appendFile($this->basePath('/js/jquery-ui-1.11.4.min.js'));
$this->headLink()->appendStylesheet(
  $this->basePath('/css/goldenlayout/goldenlayout-base.css')
);
$this->headLink()->appendStylesheet(
  $this->basePath('/css/goldenlayout/goldenlayout-light-theme.css')
);
$this->headScript()->appendFile($this->basePath('/js/phase.js'));
?>

<script>
  var structure = null;
  structure = <?php echo json_encode($this->structure);?>;
  var phaseId = 0;
  phaseId = <?php echo json_encode($this->phaseId);?>;
  var modeIds = [];
  modeIds = <?php echo json_encode($this->modeIds);?>;
  var numGroups = 0;
  numGroups = <?php echo json_encode($this->numGroups);?>;
  //noinspection JSUnusedLocalSymbols
  var localStoragePre = phaseId + "_";
  //noinspection JSUnusedLocalSymbols
  var tournamentId = <?php echo json_encode($this->tournamentId)?>;
  //noinspection JSUnusedLocalSymbols
  var upToDateUrl = <?php echo json_encode(
    $this->url(
      'tournament/uptodate',
      [
        'id' => $this->tournamentId,
        'lastrefreshed' => (new DateTime())->getTimestamp(),
      ]
    )
  )?>;

  initLayout(structure, phaseId);
</script>
<div id="prototypes" style="display: none;">
  <?= $this->render('prototypes.phtml') ?>
</div>

<div id="goldenlayoutroot"></div>

