<?php
$this->headScript()->appendFile(
  $this->basePath('/js/jquery-ui-1.11.4.min.js')
);
if ($this->deviceHelper() !== 'phone') {
  $this->headLink()->appendStylesheet(
    $this->basePath('/js/jquery-ui-1.11.4.min.css')
  );
}
if (isset($unstartForm) && $unstartForm != NULL) {
  echo $this->dialogHelper("unstart-confirm",
    "Are you sure you want to undo the start of this phase? This will erase all games played until now in this phase!",
    "Really undo?");
}
$title = $this->translate("Settings");
$this->headTitle($title);
?>
  <script>
    //noinspection JSUnusedLocalSymbols
    var tournamentId = <?php echo json_encode($this->tournamentId)?>;
    //noinspection JSUnusedLocalSymbols
    var upToDateUrl = <?php echo json_encode(
      $this->url(
        'tournament/uptodate',
        [
          'id' => $this->tournamentId,
          'lastrefreshed' => (new DateTime())->getTimestamp(),
        ]
      )
    )?>;

  </script>
  <h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
//$form->setAttribute('action', $this->url(NULL));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag($form);

if (isset($unstartForm) && $unstartForm != NULL) {
  $unstartForm->prepare();
  $unstartForm->setAttribute("class", "confirmForm");
  echo $this->form()->openTag($unstartForm);
  echo $this->formCollection($unstartForm);
  echo $this->form()->closeTag($unstartForm);
  if ($this->deviceHelper() !== 'phone') {
    $openDialog = "$('#unstart-confirm') . dialog('open');";
    $handler = <<<JS
$("#unstart-confirm").dialog({
    resizable: false,
    height:185,
    width: 500,
    modal: true,
    buttons: {
        'Yes': function() {
            currentForm.submit();
        },
            Cancel: function() {
            $(this).dialog('close');
        }
    }
});
JS;
  } else {
    $handler = <<<JS
jQuery("#unstart-confirm-yes").click(function() {
    console.log(currentForm);
    window.setTimeout(function(){
        currentForm.submit();
    }, 100);
});
JS;
    $openDialog = <<<JS
jQuery(":mobile-pagecontainer").pagecontainer("change", "#unstart-confirm",
  {role: "dialog", "data-transition": "flip"});
JS;
  }
  echo <<<HTML
<script>
var currentForm;
$(document).ready(function(){
    $handler;
    $('.confirmForm').submit(function(){
        var name = $(this).find(':submit').attr('name'),
            hidden = $(this).find("input[name='"+name+"'][type='hidden']");
        currentForm = this;
        if(hidden.length === 0) {
            $(this).append("<input type='hidden' name='"+name+"' value='1'></input>");
        }
        $openDialog;
        return false;
    });
});
</script>
HTML;
}

