<?php
echo $this->dialogHelper("undo-game-confirm", "Are you sure you want to undo this game?", "Really undo game?");

$title = $this->title;
$this->headTitle($title);
?>
<?php
//$form->setAttribute('action', $this->url(NULL));
$form->prepare();

echo $this->form()->openTag($form);
?>
  <table>
    <tr>
      <th><?php echo $this->translate('Table'); ?> </th>
      <th><?php echo $this->translate('Team'); ?> A</th>
      <th><?php echo $this->translate('Result'); ?> A</th>
      <th></th>
      <th><?php echo $this->translate('Result'); ?> B</th>
      <th><?php echo $this->translate('Team'); ?> B</th>
      <th><?php echo $this->translate('Action'); ?></th>
    </tr>
    <?php foreach ($this->games as $game): ?>
      <tr>
        <td><?php echo $game->getTable() ?></td>
        <td><?php echo $this->names_helper($game->getTeamA()); ?></td>
        <td><?php
          echo $this->formElement(
            $form->get($game->getId())->get("resultA")
          );
          ?></td>
        <td>-</td>
        <td><?php
          echo $this->formElement(
            $form->get($game->getId())->get("resultB")
          );
          ?></td>
        <td><?php echo $this->names_helper($game->getTeamB()); ?></td>
        <td>
          <?php if ($editable): ?>
            <a onClick="undoGame('<?php
            echo $this->names_helper($game->getTeamA()) . " vs. " . $this->names_helper($game->getTeamB()) ?>', '<?php
            echo $this->url("tournament/phase/edit/undoGame", [
              'id' => $game->getGroup()->getPhase()->getTournament()->getId(),
              'phase' => $game->getGroup()->getPhase()->getId(),
              'game' => $game->getId(),
            ]);
            ?>')"><?php echo $this->translate('undo'); ?></a>
          <?php endif; ?>
        </td>
      </tr>
    <?php endforeach; ?>
  </table>
<?php
if ($form->has($this->submitName)) {
  echo $this->formRow($form->get($this->submitName));
}
if ($form->has('security')) {
  echo $this->formRow($form->get('security'));
}
echo $this->form()->closeTag($form);
$title = $this->translate("Really undo game %s?");
?>
<?php if ($editable): ?>
  <script>
    //noinspection JSUnusedLocalSymbols
    var dialogLink;

    function undoGame(gameName, link) {
      var dialogTitle = '<?php echo $title ?>'.replace("%s", gameName)<?php if ($this->deviceHelper() !== 'phone'): ?>,
        undoGameConfirm = $("#undo-game-confirm");
      //noinspection JSUnusedGlobalSymbols
      undoGameConfirm.dialog({
        resizable: false,
        title: dialogTitle,
        height: 185,
        width: 500,
        modal: true,
        buttons: {
          'Yes': function() {
            window.location.href = link;
          },
          Cancel: function() {
            $(this).dialog('close');
          }
        }
      });
      undoGameConfirm.dialog('open');
      <?php else: ?>
      //console.log($('#undo-game-confirm-yes'));
      $('#undo-game-confirm-yes').click(function() {
        console.log(link);
        window.setTimeout(function() {
          console.log(link);
          window.location.href = link;
        }, 100);
      });
      jQuery("#undo-game-confirm-title").text(dialogTitle);
      jQuery(":mobile-pagecontainer").pagecontainer("change", "#undo-game-confirm", {
        role: "dialog",
        "data-transition": "flip"
      });
      <?php endif; ?>
    }
  </script>
<?php endif;