<?php
$title = "Scheduled Games";
$this->headTitle($title);
?>
<?php
//$form->setAttribute('action', $this->url(NULL));
$form->prepare();
?>

  <script>
    <?php if($this->editable) : ?>

    //noinspection JSUnusedLocalSymbols
    function assignTables() {
      var i,
        form = jQuery("div.lm_content form.form_scheduledGames").get(0),
        elems = form.elements,
        options = elems[0].options;
      if (options && elems) {
        for (i = 0; i < elems.length && i < options.length - 1; i++) {
          console.log(elems[i].className);
          if (elems[i].type !== "select-one" || elems[i].className === "dyn-conflict") {
            return true;
          }
          elems[i].value = options[i + 1].value;
        }
      }
      return true;
    }

    <?php endif; ?>
  </script>

<?php echo $this->form()->openTag($form); ?>
  <table>
    <tr>
      <th><?php echo $this->translate('Table'); ?></th>
      <th><?php echo $this->translate('Team'); ?> A</th>
      <th></th>
      <th><?php echo $this->translate('Team'); ?> B</th>
    </tr>
    <?php foreach ($this->games as $game): ?>
      <?php
      $class = "game";
      if ($game->getType() == \FDM\Entity\Game::TYPE_SCHEDULED_DYN_CONFLICT_WDYN) {
        $class .= " dyn-conflict";
      } else if ($game->getType() == \FDM\Entity\Game::TYPE_SCHEDULED_DYN_CONFLICT) {
        $class .= " conflict";
      }
      ?>
      <tr class="<?= $class ?>">
        <td<?php if ($game->getType() != \FDM\Entity\Game::TYPE_SCHEDULED_DYN) echo " class='scheduled_fix'" ?>><?php
          if ($game->getType() == \FDM\Entity\Game::TYPE_SCHEDULED_DYN ||
            $game->getType() == \FDM\Entity\Game::TYPE_SCHEDULED_DYN_CONFLICT_WDYN
          ) {
            $element = $form->get($game->getId())->get("table");
            $options = $element->getValueOptions();
            $options["0"] = $this->translate("Select a table");
            $element->setValueOptions($options);
            if ($game->getType() == \FDM\Entity\Game::TYPE_SCHEDULED_DYN_CONFLICT_WDYN) {
              $element->setAttribute("class", "dyn-conflict");
            }
            echo $this->formElement($element);
          } else if ($game->getType() == \FDM\Entity\Game::TYPE_SCHEDULED_FIX) {
            echo $game->getTable();
          }
          ?></td>
        <td class="spoken" style="display:none;"><?php echo $this->names_helper($game, false, true); ?></td>
        <td class="teamA"><?php echo $this->names_helper($game->getTeamA()); ?></td>
        <td>-</td>
        <td class="teamB"><?php echo $this->names_helper($game->getTeamB()); ?></td>
      </tr>
    <?php endforeach; ?>
  </table>
<?php
if ($form->has($this->submitName)) {
  echo $this->formRow($form->get($this->submitName));
}
if ($form->has("assign-button")) {
  echo $this->formRow($form->get("assign-button"));
}
if ($form->has("speak-button")) {
  echo $this->formRow($form->get("speak-button"));
}
if ($form->has('security')) {
  echo $this->formRow($form->get('security'));
}
echo $this->form()->closeTag($form);
