<?php
$this->headScript()->
appendFile($this->basePath('/js/bracket/jquery.bracket.min.js'));
$this->headLink()->
appendStylesheet($this->basePath('/css/bracket/jquery.bracket.min.css'));
?>

<div class="bracketNavigator">
    <span class="leftNav" id="leftNav" style="display:none;">
        <a onClick="navigate(-1)"><img src="
            <?php echo($this->basePath('/img/icons/left.png')); ?>
            " height="16" width="16"></a>
    </span>
  <span class="finalName" id="finalName">
    </span>
  <span class="rightNav" id="rightNav" style="display:none;">
        <a onClick="navigate(1)"><img src="
            <?php echo($this->basePath('/img/icons/right.png')); ?>
            " height="16" width="16"></a>
    </span>
</div>
<div class="bracketContainer"></div>
<script>


  function finalName() {
    if (currentFinal <= 1) {
      return "<?= $this->translate("Final") ?>";
    } else if (currentFinal <= 2) {
      return "<?= $this->translate("Semifinals") ?>";
    } else {
      return "1/" + currentFinal + "-" + "<?= $this->translate("finals") ?>";
    }
  }


  function displayNavs() {
    if (currentFinal < maxFinal) {
      $(".leftNav").show();
    } else {
      $(".leftNav").hide();
    }

    if (currentFinal > 1) {
      $(".rightNav").show();
    } else {
      $(".rightNav").hide();
    }
    $(".finalName").text(finalName());
  }

  function recomputeData() {
    var main, sub, i, curInd, k, j;
    data.results[0] = jQuery.extend(true, [], fullData.results[0].slice(roundIndex));

    //compute teams
    if (currentFinal == maxFinal) {
      data.teams = jQuery.extend(true, [], fullData.teams);
    } else {
      data.teams = [];
      for (j = 0; j < currentFinal; j++) {
        data.teams.push([]);
        for (k = 0; k < 2; k++) {
          curInd = 2 * j + k;
          for (i = roundIndex - 1; i >= 0; i--) {
            if (fullData.results[0].length <= i || fullData.results[0][i].length <= curInd ||
              fullData.results[0][i][curInd].length < 2) {
              curInd = -1;
              break;
            } else if (fullData.results[0][i][curInd][0] > fullData.results[0][i][curInd][1]) {
              curInd *= 2;
            } else if (fullData.results[0][i][curInd][0] < fullData.results[0][i][curInd][1]) {
              curInd = curInd * 2 + 1;
            } else {
              curInd = -1;
              break;
            }
          }
          if (curInd >= 0) {
            sub = curInd % 2;
            main = Math.floor(curInd / 2);
            data.teams[j].push(fullData.teams[main][sub]);
          } else {
            data.teams[j].push(null);
          }
        }

      }
    }
  }

  function navigate(direction) {
    if (direction == 1 && currentFinal > 1) {
      currentFinal /= 2;
      roundIndex++;
    }
    else if (direction == -1 && currentFinal < maxFinal) {
      currentFinal *= 2;
      roundIndex--;
    }

    localStorage.setItem(roundIndexKey, roundIndex);

    recomputeData();
    drawBracket();
    displayNavs();
  }

  var currentRequest = null;
  var currentFinal = 0;
  currentFinal = <?php
  $n = count($this->data["teams"]);
  $final = 1;
  while ($final < $n) {
    $final *= 2;
  }
  echo $final;
  ?>;
  var maxFinal = currentFinal;
  var roundIndexKey = localStoragePre + "bracketRoundIndex";
  var roundIndex = localStorage.getItem(roundIndexKey) || 0;
  if (roundIndex > 0) {
    var tmp = 0;
    while (tmp < roundIndex && currentFinal > 1) {
      tmp++;
      currentFinal /= 2;
    }
    if (tmp < roundIndex) {
      roundIndex = tmp;
      localStorage.setItem(roundIndexKey, roundIndex);
    }
  }

  displayNavs();


  //func must return a deferrable object
  function sequCall(func) {
    if (currentRequest === null) {
      currentRequest = func();
      //noinspection JSUnusedLocalSymbols
      jQuery.when(currentRequest).done(function(a) {
        currentRequest = null;
      });
    }
    else {
      console.log("waiting for");
      console.log(currentRequest);
      //noinspection JSUnusedLocalSymbols
      jQuery.when(currentRequest).done(function(a) {
        sequCall(func);
      });
    }
  }

  var fullData = null;
  fullData =
  <?php
  $struct = $this->data;
  foreach ($struct["teams"] as $key => $teams) {
    foreach ($teams as $k2 => $ranking) {
      if ($ranking != null) {
        $struct["teams"][$key][$k2] = $this->names_helper($ranking);
      } else {
        $struct["teams"][$key][$k2] = null;
      }
    }
  }
  echo json_encode($struct);
  ?>;
  var data = jQuery.extend(true, {}, fullData);
  if (roundIndex > 0) {
    recomputeData();
  }

  var numTables = <?php echo json_encode($this->numTables); ?>;

  //console.log(data);

  jQuery(document).on("fdm:componentRegistered", function(event, container, state) {
    if (state.id.substring(0, 5) == "extra") {
      container.on("resize", function() {
        drawBracket();
      });
    }
  });

  //noinspection JSUnusedLocalSymbols
  function saveFn(newData, userData) {
    //compute large newData
    var clonedData = {
      "teams": $.extend(true, [], fullData["teams"]),
      "results": [$.merge($.extend(true, [], fullData["results"][0].slice(0, roundIndex)),
        $.extend(true, [], newData["results"][0]))]
    };
    sequCall(function() {
      //console.log("started");
      var ajaxRequest = null;
      if (JSON.stringify(clonedData) != JSON.stringify(fullData)) {
        console.log("changed");
        //console.log(clonedData);
        blockRefresh();
        //noinspection JSUnusedLocalSymbols
        ajaxRequest = jQuery.ajax({
          type: 'post',
          cache: false,
          url: '<?php echo $this->url('tournament/phase/group/edit/bracket',
            ['id' => $this->tournamentId, 'phase' => $this->phaseId, 'group' => $this->groupId]); ?>',
          data: clonedData,
          success: function(resp, state, jqXHR) {
            //console.log(resp);
            //console.log("success");
            fullData = clonedData;
            recomputeData();
            drawBracket();

            //console.log(clonedData);
          }
        });
      }
      /*else {
       console.log("not changed");
       console.log(clonedData);
       }*/
      return ajaxRequest;
    });
  }
  (function($) {
    "use strict";
    $.fn.openSelect = function() {
      return this.each(function(idx, domEl) {
        var event;
        if (document.createEvent) {
          event = new MouseEvent("mousedown", {
            "bubbles": true,
            "cancelable": true,
            "view": window
          });
          domEl.dispatchEvent(event);
        } else if (element.fireEvent) {
          domEl.fireEvent("onmousedown");
        }
      });
    }
  }(jQuery));


  function renderMatchFn(container, match) {
    //console.log(container);
    //console.log(match);
    <?php if ($this->editable): ?>

    var editable = true;
    <?php else: ?>
    var editable = false;
    <?php endif; ?>
    var value = "-",
      editableText = "",
      table,
      tableClick;
    //noinspection StringLiteralBreaksHTMLJS
    if (match) {
      value = match.table;
      if (value === 0 || value === "0") {
        value = "-";
      }
    }
    else {
      editable = false;
    }
    if (editable) {
      editableText = " editable";
    }
    //noinspection StringLiteralBreaksHTMLJS
    table = jQuery("<div class='bracketTable" + editableText + "'>" + value + "</div>");
    <?php if ($this->editable): ?>
    tableClick = function() {
      const span = $(this);

      function editor() {
        function doneFn(val) {

          var text = val;
          match.table = val;
          saveFn(
            $('.lm_content > .bracketContainer').bracket("data"), null
          );
          if (text === "0" || text === 0) {
            text = "-";
          }
          span.remove("input");
          span.text(text);
          table.click(tableClick);
        }

        var select, selVal, i,
          selectHTML = '<select>';
        span.unbind();
        for (i = 1; i <= numTables; i++) {
          //noinspection StringLiteralBreaksHTMLJS
          selectHTML += '<option value="' + i + '">' + i + '</option>';
        }
        //noinspection StringLiteralBreaksHTMLJS
        selectHTML += '</select>';
        select = $(selectHTML);
        selVal = span.text();
        if (selVal == '-') {
          selVal = 0;
        }
        select.val(selVal);
        span.html(select);
        select.focus().openSelect();
        select.change(function() {
          $(this).blur();
        });
        select.blur(function() {
          doneFn(select.val());
        });
      }

      editor();
    };

    if (editable) {
      table.click(tableClick);
    }
    <?php endif;?>
    $(container).children(".team").each(function() {
      $(this).width($(this).width() - 20);
    });
    container.prepend(table);
  }

  function drawBracket() {
    //console.log("draw");
    $('.lm_content > .bracketContainer').bracket({
      teamWidth: 220,
      init: data, /* data to initialize the bracket with */
      decorator: {
        renderMatch: renderMatchFn
      },
      <?php if ($this->editable) : ?>
      save: saveFn,
      disableTeamEdit: true,
      disableToolbar: true,
      <?php endif; ?>
    });
  }

  jQuery(function() {
    drawBracket()
  });
  //# sourceURL=bracket.phtml.js
</script>
