<?php
$this->headScript()->appendFile(
  $this->basePath('/js/jquery-ui-1.11.4.min.js')
);
if ($this->deviceHelper() !== 'phone') {
  $this->headLink()->appendStylesheet(
    $this->basePath('/js/jquery-ui-1.11.4.min.css')
  );
}


echo $this->dialogHelper("dialog-confirm", "Are you sure you want to merge the players \\'%1%\\' and \\'%2%\\'?", "Really merge players?");
?>

<?php if ($this->error != ''): ?>
  <div class="text-error"><?= $this->error ?></div>
<?php endif; ?>

<?php

$form->prepare();
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag($form);

?>

<script>
  var currentForm;
  var content;

  $(function() {
    content = $("#dialog-confirm").html();
    var data = <?php echo json_encode($players); ?>;
    $("#name1").autocomplete({
      source: data,
      select: function(event, ui) {
        $("#id1").val(ui.item.id);
      }
    });
    $("#name2").autocomplete({
      source: data,
      select: function(event, ui) {
        $("#id2").val(ui.item.id);
      }
    });
    $(".merge").click(function() {
      currentForm = $(this).closest('form');
      diaConf = $("#dialog-confirm");
      diaConf.html(content.replace("%1%", $("#name1").val()).replace("%2%", $("#name2").val()));
      diaConf.dialog({
        resizable: false,
        height: 185,
        width: 500,
        modal: true,
        buttons: {
          'Yes': function() {
            $(this).dialog('close');
            currentForm.submit();
          },
          Cancel: function() {
            $(this).dialog('close');
          }
        }
      });
      diaConf.dialog('open');
      return false;
    });
  });
</script>