<?php echo $this->doctype(); ?>

<html lang="en">
<head>
  <meta charset="utf-8">
  <?php
  $this->headScript()->appendFile(
    $this->basePath('/js/jquery-mobile-settings.js')
  );
  $this->headScript()->
  appendFile($this->basePath('/js/jquery.mobile-1.4.5.min.js'));
  $this->headLink()->appendStylesheet(
    $this->basePath('/css/jquery.mobile-1.4.5.min.css')
  );
  ?>

  <?php
  echo $this->headTitle($this->translate("Foosball Drawing Manager"))->setSeparator(' - ')->setAutoEscape(false);
  ?>


  <?php echo $this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('Content-Type', 'text/html;charset=utf8')
    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
  ?>

  <!-- Le styles -->
  <?php echo $this->headLink(['rel' => 'shortcut icon', 'href' => $this->basePath('img/icons/favicon.ico')])
    ->appendStylesheet($this->basePath('css/style-mobile.css'))
    ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
    ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
  ?>

  <!-- Scripts -->
  <?php echo $this->headScript()
    ->prependFile($this->basePath('js/bootstrap.min.js'))
    ->prependFile($this->basePath('js/jquery-1.12.4.min.js'))
    ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', ['conditional' => 'lt IE 9',])
    ->prependFile($this->basePath('js/html5shiv.min.js'), 'text/javascript', ['conditional' => 'lt IE 9',]); ?>
</head>
<body>
<div data-role="page" data-ajax="false">
  <div data-role="header" data-position="fixed">
    <div data-role="navbar">
      <?php $this->navigation('navigation')->menu()->setPartial('fdm/partials/menu.phtml'); ?>
      <?php echo $this->navigation('navigation')->menu(); ?>
    </div>
  </div>
  <div data-role="main" class="ui-content fdm-container content-fixed content" id="fdm-content">
    <?php echo $this->content; ?>
  </div> <!-- /container -->
</div>
<?php echo $this->inlineScript() ?>
</body>
</html>
