<?php echo $this->doctype(); ?>

<html lang="en">
<head>
  <meta charset="utf-8">
  <?php
  echo $this->headTitle($this->translate("Foosball Drawing Manager"))->setSeparator(' - ')->setAutoEscape(false)
  ?>

  <?php echo $this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('Content-Type', 'text/html;charset=utf8')
    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
  ?>

  <!-- Le styles -->
  <?php echo $this->headLink(['rel' => 'shortcut icon', 'href' => $this->basePath('img/icons/favicon.ico')])
    ->appendStylesheet($this->basePath('css/fdm-style.css'))
    ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
    ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
    ->prependStylesheet($this->basePath('css/sidebar.css')) ?>

  <!-- Scripts -->
  <?php echo $this->headScript()
    ->prependFile($this->basePath('js/bootstrap.min.js'))
    ->prependFile($this->basePath('js/jquery-1.12.4.min.js'))
    ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', ['conditional' => 'lt IE 9',])
    ->prependFile($this->basePath('js/html5shiv.min.js'), 'text/javascript', ['conditional' => 'lt IE 9',])
    ->appendFile($this->basePath('js/autorefresh.js')); ?>
</head>
<script>
  //noinspection JSUnusedLocalSymbols
  function toggleSidebar() {
    var sidebar = $('.sidebar'),
      content = $('.content');
    sidebar.toggleClass('sidebar-fixed').toggleClass('sidebar-hovering');
    content.toggleClass('content-fixed').toggleClass('content-hovering');
    localStorage.setItem('state-sidebar', sidebar.attr('class'));
    localStorage.setItem('state-content', content.attr('class'));
  }
  $(document).ready(function loadSidebarState() {
    if (localStorage.getItem('state-sidebar') !== null) {
      $('.sidebar').attr('class', localStorage.getItem('state-sidebar'));
    }

    if (localStorage.getItem('state-content') !== null) {
      $('.content').attr('class', localStorage.getItem('state-content'));
    }
  });
</script>
<body>
<?php $this->navigation('navigation')->menu()->setPartial('fdm/partials/menu.phtml'); ?>
<?php echo $this->navigation('navigation')->menu(); ?>
<div class="fdm-container content-fixed content" id="fdm-content">
  <?php echo $this->content; ?>
</div> <!-- /container -->
<?php echo $this->inlineScript() ?>
</body>
</html>
