<div class="row row-fluid" style="margin: 0px;">
  <div class="col-md-3" style="margin-top: -20px;">
    <?= $this->partial('zfc-datagrid/toolbar/export') ?>
    <?php if (isset($rId)): ?>
      <a class="btn btn-default" href="<?= $this->url('ranking/hidecolumns', array('rId' => $rId,
        'hiddenColumns' => isset($hiddenColumns) ? $hiddenColumns : 0)) ?>">
        hide/unhide columns
      </a>
    <?php endif; ?>
  </div>
  <div class="col-md-6" style="float:left">
    <h3 align="center" style="margin-top: -25px; margin-bottom: 10px"><?php
      echo $title;
      if (isset($hasJackpot) && $hasJackpot) {
        echo " (Jackpot: " . str_replace(",", ".", number_format($jackpot)) . "€)";
      }
      ?></h3>
  </div>
  <div class="col-md-3 text-right" style="margin-top: -20px;">
    <?php if (isset($lastRefreshed) && $lastRefreshed != null): ?>
      (<?= $this->translate('Updated') ?>: <?= $lastRefreshed->format('d.m.Y') ?>)
    <?php endif; ?>
  </div>
</div>
