<?php
?>
<?php
$detect = new \Detection\MobileDetect;
$deviceType = $detect->isMobile() ?
  ($detect->isTablet() ? 'tablet' : 'phone') : 'computer';
?>

<?php if ($deviceType === "phone") : ?>
<nav data-ajax="false">
  <?php else: ?>
  <nav class="main-menu sidebar-fixed sidebar">
    <?php endif; ?>
    <?php if ($deviceType !== "phone") : ?>
      <button type="button" class="icon top-right" onClick="toggleSidebar()"><img src="
<?php echo($this->basePath('/img/icons/push-pin.png')); ?>
" height="16" width="16"></button>
      <div class="login">
        <?php
        $name = $this->zfcUserDisplayName();
        if ($name) {
          echo $this->translate('Logged in as') . ' ' . $this->escapeHtml($name);
        } else {
          echo $this->translate('Not logged in');
        }
        ?>
      </div>
    <?php endif; ?>
    <?php
    if ($deviceType === "phone") : ?>
    <div data-role="navbar">

      <?php endif; ?>
      <ul>
        <?php foreach ($this->container as $page): ?>
          <li><?= $this->navigation()->menu()->htmlify($page) ?></li>
        <?php endforeach; ?>
      </ul>
      <?php if ($deviceType === "phone") : ?>
    </div>
  <?php endif; ?>
  </nav>
